MYICON		ICON    "../libOne/res/joypad.ico"
IMAGE_PS	SHADER	"../libOne/res/ImagePixelShader.cso"
IMAGE_VS	SHADER	"../libOne/res/ImageVertexShader.cso"
SHAPE_PS	SHADER	"../libOne/res/ShapePixelShader.cso"
SHAPE_VS	SHADER	"../libOne/res/ShapeVertexShader.cso"
TRIANGLE_PS	SHADER	"../libOne/res/TrianglePixelShader.cso"
TRIANGLE_VS	SHADER	"../libOne/res/TriangleVertexShader.cso"
LAMBERT_PS	SHADER	"../libOne/res/LambertPS.cso"
LAMBERT_VS	SHADER	"../libOne/res/LambertVS.cso"
LAMBERT_SKIN_VS	SHADER	"../libOne/res/LambertSkinVS.cso"